<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ldm.library.business.admin.book.dao.BookCategoriesMapper">
  <resultMap id="BaseResultMap" type="com.ldm.library.business.admin.book.domain.entity.BookCategories">
    <!--@mbg.generated-->
    <!--@Table book_categories-->
    <id column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    category_id, `name`, description
  </sql>
</mapper>